body{
    text-align: center;
    background-color: #3A3845;
}

h1{
    margin-top: 4%;
    color: #EDCDBB;
    font-size: 3rem;
}

h2{
    margin: 6% auto;
    font-size: 7rem;
    color: #F7CCAC;
}

.btn{
    width: 10vw;
    margin : 1% 1%;
    height: 4vw;
    font-size: 1.5rem; 
    font-weight: bold;
}

.reset{
    background-color: #74959A;
    font-size: 1.5rem; 
    display: block;
    margin: 1% auto;
}

.plus{
background-color: #65C18C;
}

.minus{
    background-color: #fda9a9;
}

h5{
    color: #6f89a7;
    margin-top : 5%;
    margin-bottom : 2%;
}

@media (max-width:500px) {
    h1{
        margin-top: 10%;
        color: #EDCDBB;
        font-size: 3rem;
    }
    
    h2{
        margin: 20% auto;
        font-size: 8rem;
        color: #F7CCAC;
    }
    
    .btn{
        width: 30vw;
        margin : 1% 1%;
        height: 10vw;
        font-size: 1.1rem; 
        font-weight: bold;
    }
    
    .reset{
        background-color: #74959A;
        font-size: 1.1rem; 
        display: block;
        margin: 2% auto;
    }
    
    .plus{
    background-color: #65C18C;
    }
    
    .minus{
        background-color: #fda9a9;
    }
    h5{
        color: #6f89a7;
        margin-top : 40%;
        margin-bottom : 2%;
    }
}


@media (max-width:1050px) and (min-width:700px) {
    h1{
        margin-top: 10%;
        color: #EDCDBB;
        font-size: 3rem;
    }
    
    h2{
        margin: 20% auto;
        font-size: 8rem;
        color: #F7CCAC;
    }
    
    .btn{
        width: 30vw;
        margin : 1% 1%;
        height: 10vw;
        font-size: 1.1rem; 
        font-weight: bold;
    }
    
    .reset{
        background-color: #74959A;
        font-size: 1.1rem; 
        display: block;
        margin: 2% auto;
    }
    
    .plus{
    background-color: #65C18C;
    }
    
    .minus{
        background-color: #fda9a9;
    }
    
}